repos:
  - repo: local
    hooks:
      - id: goimports
        name: goimports
        entry: goimports -w
        language: golang
        additional_dependencies: [golang.org/x/tools/cmd/goimports@latest]
        types: [go]

      - id: go-vet
        name: go vet
        entry: go vet ./...
        language: golang
        types: [go]
        pass_filenames: false

      - id: go-build
        name: go build
        entry: go build ./...
        language: golang
        types: [go]
        pass_filenames: false

      - id: go-test
        name: go test
        entry: go test ./...
        language: golang
        types: [go]
        pass_filenames: false

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.43.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.yaml]
